* 
{
	-fx-punk-pink: #FA1E38;
	-fx-punk-blue: #1EFA98;

	-fx-punk-pink-transparent: #FA1E38aa;
	-fx-punk-blue-transparent: #1EFA98aa;


	-fx-punk-black: #00000b;
}

.input-field{
	-fx-background-color: -fx-punk-black;
	-fx-border-color: white;
	-fx-border-width: 1 0 1 0;
}

.clickable-button {
  	-fx-text-fill: -fx-punk-pink;
}

.clickable-button:hover {
  	-fx-text-fill:white;
}

.clickable-button:pressed {
	-fx-text-fill: -fx-punk-blue;
}


.clickable-button2 {
  	-fx-text-fill: #403b3c;
}

.clickable-button2:hover {
  	-fx-text-fill:white;
}

.clickable-button2:pressed {
	-fx-text-fill: -fx-punk-pink;
}

.mainPannel{
	-fx-background-size: 550 460;
	-fx-background-radius: 20;
	-fx-border-radius: 20;

	-fx-background-color: linear-gradient(to bottom right, -fx-punk-black, #000011); 
	-fx-border-color: -fx-punk-black;
}

.mainPannel:selected
{
	-fx-background-color: linear-gradient(to bottom, -fx-punk-black 0%, -fx-punk-black 85%, -fx-punk-blue 100%); 
}

.radio-button .radio{
    -fx-border-width: 1px;
    -fx-border-color: yellow;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 20px;
    -fx-padding: 0px;
    -fx-text-fill: white;
}
.radio-button .radio:hover {
    -fx-background-color: -fx-punk-pink;
    -fx-background-image: null;
}

.radio-button .radio:selected {
    -fx-background-color: -fx-punk-blue;
    -fx-background-image: null;
    
}

.radio-button{
	-fx-text-fill: white;
}

.radio-button:hover{
	-fx-text-fill: -fx-punk-blue;
}

.radio-button:selected{
	-fx-text-fill: yellow;
}

.radio-button.dot {
	-fx-background-color: white;
}

.radio-button:hover .dot {
	-fx-background-color: -fx-punk-blue;
}

.radio-button:selected .dot {
	-fx-background-color: yellow;
}


.controll-button
{
	-fx-background-color: transparent;
}

.controll-button:hover
{
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.controll-button:pressed
{
	-fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.input-field{
	-fx-background-color: -fx-punk-black;
	-fx-border-color: white;
	-fx-border-width: 1 0 1 0;
}

.tab-header-area .tab-header-background {
 	-fx-background-color: #fa1e38;
 	-fx-background-radius: 5 5 0 0;

}

.tab-pane
{
	-fx-background-color: #FA1E38aa;
 	-fx-background-radius: 5 5 0 0;
 	-fx-border-color: radial-gradient(focus-distance 50% , center 50% 50% , radius 85% , deeppink, #1EFA98aa);
 	-fx-border-radius: 5 5 0 0;
 	-fx-border-width: 1;
}

.tab-pane .tab {
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-background-color: #FA1E38aa;
}

.tab-pane .tab:selected {
	-fx-text-fill: white;
	-fx-background-color: white;
	

}

.table-view .column-header-background{
    
    -fx-background-color:transparent;
}

.table-view .column-header{
    
    -fx-background-color:transparent;
}

.table-view{
    
    -fx-background-color: transparent;
}

.back-table-pane2 
{
	-fx-background-color: linear-gradient(to right , #FF5F78, -fx-punk-blue);
}

.table-view .column-header-background .filler
{
	-fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view > .viewport {
	-fx-border-color: #FA1E38aa;

	-fx-background-color: transparent;

}
.table-view
{
	-fx-padding: 0 0 0 0 ;
	-fx-background-color: linear-gradient(to bottom, #FA1E38, #0000bb44);
}

.table-view .corner
{
	-fx-background-radius: 20;
	-fx-background-color: transparent;
}

.scroll-bar
{
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , deeppink, #1EFA98aa);
}

.scroll-bar:horizontal
{
	-fx-background-color: linear-gradient(to top, #1EFA9811, transparent);
}
.scroll-bar:vertical
{
	-fx-background-color: linear-gradient(to right, #1EFA9811, transparent);
}


.scroll-bar:pressed, .scroll-bar:focused
{
	-fx-background-color: linear-gradient(to top, #1EFA9833, transparent);
	-fx-border-color: white;
}

.scroll-bar:pressed .thumb, .scroll-bar:focused .thumb
{
	-fx-background-color: radial-gradient(focus-distance 50% , center 50% 50% , radius 100% , -fx-punk-blue, -fx-punk-black);
}


.table-view .scroll-bar
{
	-fx-background-color: transparent;
}




.scroll-bar .track
{
	-fx-border-width: 0 1 0 1;
}

.scroll-bar .decrement-arrow
{
	-fx-background-color: transparent;
}

.scroll-bar .increment-arrow
{
	-fx-background-color: transparent;
}

.scroll-bar .thumb
{
	-fx-background-color: radial-gradient(focus-distance 10% , center 50% 50% , radius 100% , white, whitesmoke);
	-fx-pref-width: 1;

}