.input-field{
	-fx-background-color: #00000b;
	-fx-border-color: white;
	-fx-border-width: 1 0 1 0;
}

.clickable-button {
  	-fx-text-fill: #FA1E38;
}

.clickable-button:hover {
  	-fx-text-fill:white;
}

.clickable-button:pressed {
	-fx-text-fill: #1EFA98;
}


.clickable-button2 {
  	-fx-text-fill: #403b3c;
}

.clickable-button2:hover {
  	-fx-text-fill:white;
}

.clickable-button2:pressed {
	-fx-text-fill: #FA1E38;
}

.mainPannel{
	-fx-background-size: 550 460;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-background-color: #00000b;
	-fx-border-color: #00000b;
}